* {
  font-family: "Poppins", sans-serif;
}

h1,h2,h3,h4,h5 {
  font-weight: bold;
}

body {
  font-size: 16px;
}

hr {
  width: 50px;
  border: 5px solid green;
}

iframe {
  width: 100%;
  min-height: 250px;
  border: 0;
  display: none;
}

footer {
  padding-right: 58px;
}

textarea {
  min-height: 150px;
}

.w3-input {
  width: 50%;
}

.w3-row div img{
  padding: 16px;
}

.main {
  margin-left: 340px;
  margin-right: 40px;
}

.content {
  margin-top: 70px;
}

.pointer {
  cursor: pointer;
}

.zoom-in {
  cursor: zoom-in;
}

.zoom-out {
  cursor: zoom-out;
}

.width_responsive {
  width: 100%;
}

.modal_responsive {
  height: 80%;
  width: auto;
}

.nav_desktop {
  z-index: 3;
  width: 300px;
  font-weight: bold;
}

.nav_submenu-content {
  display: none;
}

.nav_submenu:hover .nav_submenu-content{
  display: block;
  color: red;
}

.nav_mobile {
  min-width: 300px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

#css_logo {
  border: 0px;
  width: 88px;
  height: 31px
}

#html5_logo {
  border: 0px;
  width: auto;
  height: 50px;
}

#email {
  display: none;
}

/*
Mobile < 601px
601px < Tablet < 993px
993px < Desktop
*/

/*Mobile devices*/
@media (max-width:601px) {
  .zoom-in {
    cursor: default;
  }
}

/*Desktop devices*/
@media (min-width:993px) {
  .footer-content {
    margin-left: 340px;
    margin-right: 40px;
  }
}
